@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<title>@ViewData["Title"]</title>
}
@model MyWorkDetailsProject.Models.RegisterViewModel;
<html>
    <head>
        <h1>Register Form</h1>
    </head>
    <body>
        <form role="form" asp-action="Register" asp-controller="LoginRegistration" method="post">
            <table>
                <tr>
                    <td><label for="UserID">UserID</label> </td>
                    <td><input type="text" name="UserID" asp-for="UserID" placeholder="UserID" autocomplete="off" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </td>
                </tr>
                <tr>
                    <td><label for="FName">First Name</label> </td>
                    <td><input type="text" name="FName" asp-for="FName" autocomplete="off" placeholder="FName" />
                        <span asp-validation-for="FName" class="text-danger"></span></td>
                </tr>
            <tr>
                <td><label for="LName">Last Name</label> </td>
                <td>
                    <input type="text" name="LName" asp-for="LName" autocomplete="off" placeholder="LName" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="Gender">Gender</label> </td>
                <td>
                    <input type="text" name="Gender" asp-for="Gender" autocomplete="off" placeholder="Gender" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="Email">Email ID</label> </td>
                <td>
                    <input type="text" name="Email" asp-for="Email" autocomplete="off" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="Phone">Mobile Number</label> </td>
                <td>
                    <input type="text" name="Phone" asp-for="Phone" autocomplete="off" placeholder="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="City">City</label> </td>
                <td>
                    <input type="text" name="City" asp-for="City" autocomplete="off" placeholder="City" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="Country">Country</label> </td>
                <td>
                    <input type="text" name="Country" asp-for="Country" autocomplete="off" placeholder="Country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="Password">Password</label> </td>
                <td>
                    <input type="password" name="Password" asp-for="Password" autocomplete="off" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><label for="ConfirmPassword">Confirm Password</label> </td>
                <td>
                    <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" autocomplete="off" placeholder="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </td>
            </tr>
            </table>
            <br />
            <br />
        <input type="submit" value="Register" class="btn btn-info btn-block" />
        </form>
    </body>
</html>
