<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- enable asp.net core layout renderers -->
	

	<targets>
		<!-- File Target for all log messages with basic details -->
		<target name="allfile" xsi:type="File" 
				fileName="C:\Personal\.Net Interview Questions\.NET Practice\Demologs\nlog-${date:format=yyyy-MM-dd}.log"/>
		<!-- Other targets like console, database, etc. can be added here -->
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!-- Other rules can be added here -->
	</rules>
</nlog>